flows/niceBridge1_1.json
[{"id":"a9a45a38.f154e","type":"tab","label":"online","disabled":false,"info":""},{"id":"aedb1a6d.74c6f8","type":"tab","label":"offline","disabled":false,"info":""},{"id":"116c5f24.699831","type":"tab","label":"Device registration","disabled":false,"info":""},{"id":"21961a16.d912f6","type":"tab","label":"akafuka","disabled":false,"info":""},{"id":"bd1f79cf.36f5f8","type":"ui_group","name":"Home","tab":"e83cc3b.4d6214","order":1,"disp":true,"width":"6","collapse":false},{"id":"e83cc3b.4d6214","type":"ui_tab","name":"Warsaw","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a8ecf574.1cc3d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4da13170.605e4","type":"ui_tab","name":"Server settings","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"622453a9.53a6ac","type":"ui_group","name":"Server URL","tab":"4da13170.605e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"84cd6c29.ca72","type":"ui_tab","name":"Device registration","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"79749064.dbf74","type":"ui_group","name":"Register device","tab":"84cd6c29.ca72","order":1,"disp":true,"width":"6","collapse":false},{"id":"e70ee8fd.5aa248","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"629312a8.bf1ca4","type":"debug","z":"a9a45a38.f154e","name":"in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1120,"wires":[]},{"id":"96dac83c.579088","type":"function","z":"a9a45a38.f154e","name":"","func":"msg.payload = {\n    sn : \"ap2m202110001000\",\n    kid: \"73298aeccb91ea23940f87be0ec92f8084da35c6f411d6d0abb830f57b57f25a\",\n    body :\n            [{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"movement\",\n                        Value: 0 \n                    }\n                ], \n                ServiceData: [], \n                DebugData: []\n            },{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"movement\",\n                        Value: 1\n                    }\n                ], \n                ServiceData: [], \n                DebugData: []\n            }],\n    devId: \"08d91255-2c6c-4607-8392-1419a0fe778f\",\n    includeTS: 1,\n    plen: 2\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1160,"wires":[["f814f51a.c8c61"]]},{"id":"70c011f5.0f92c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1160,"wires":[["96dac83c.579088"]]},{"id":"f814f51a.c8c61","type":"function","z":"a9a45a38.f154e","name":"jwt","func":"var jwt =  global.get('jsonwebtoken');\nvar fs = global.get('fs');\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar sn = msg.payload.sn;\nvar dirSuffix = '/private.pem';\n\nvar array= [];\narray = msg.payload.body;\n\nfor (var i = 0; i < msg.payload.plen; i++) {\n    msg.payload.body[i].DeviceId = msg.payload.devId;\n    if (msg.payload.includeTS == 1) {\n        msg.payload.body[i].Timestamp = parseInt(Date.now() / 1000);\n    }\n}\n\nvar kid = msg.payload.kid;\n\nmsg.payload = msg.payload.body;\n\nvar input = { sub: sn };\nvar privateKey = fs.readFileSync(dirPrefix + sn + dirSuffix);\nvar token = jwt.sign(input, privateKey, { algorithm: 'ES256', keyid: kid, expiresIn: 300});\n    \nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token;    \n\nif (msg.payload.includeTS == 1) {\n    msg.headers['Content-Type'] = 'application/json';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1100,"wires":[["aa916dcf.8f4de8","68a3a6f5.b20b1"]]},{"id":"8a90597f.defd08","type":"http in","z":"a9a45a38.f154e","name":"in","url":"/niceBridge","method":"post","upload":true,"swaggerDoc":"","x":90,"y":1100,"wires":[["23dd2e7a.2c4daa","629312a8.bf1ca4","f814f51a.c8c61","6363751a.02ec54","586e3098.9f257"]]},{"id":"23dd2e7a.2c4daa","type":"http response","z":"a9a45a38.f154e","name":"","statusCode":"200","headers":{},"x":400,"y":1060,"wires":[]},{"id":"d912c0bc.4d182","type":"function","z":"a9a45a38.f154e","name":"sort","func":"var count = flow.get('count');\n\nif (count == 0) {\n    return [msg, 0, 0, 0, 0, 0]\n} else if (count == 1) {\n    return [0, msg, 0, 0, 0, 0]    \n} else if (count == 2) {\n    return [0, 0, msg, 0, 0, 0]    \n} else if (count == 3) {\n    return [0, 0, 0, msg, 0, 0]   \n}else if (count == 4) {\n    return [0, 0, 0, 0, msg, 0];\n}else if (count == 5) {\n    return [0, 0, 0, 0, 0, msg];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":850,"y":180,"wires":[["89ec28a2.c83b08"],["a35892be.ab9638"],["877601f5.964d9"],["841e0337.e352f"],["f8cb2e29.fa71"],["7353869a.a6b9f8"]]},{"id":"f78d118a.2d47","type":"function","z":"a9a45a38.f154e","name":"counter","func":"var count = flow.get('count');\n\ncount = count + 1;\n\nif (count == 6){\n    count = 0;\n}\n\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["4007152f.f6f224"]]},{"id":"476e64.0738899c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":690,"y":100,"wires":[["4007152f.f6f224"]]},{"id":"4007152f.f6f224","type":"change","z":"a9a45a38.f154e","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[[]]},{"id":"89ec28a2.c83b08","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":80,"wires":[["1b5a1477.cbaf04"]]},{"id":"a35892be.ab9638","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":120,"wires":[["95b9540d.91bd88"]]},{"id":"877601f5.964d9","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":160,"wires":[["3cc51aca.5d81de"]]},{"id":"841e0337.e352f","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":200,"wires":[["1d05000b.a1aca"]]},{"id":"f8cb2e29.fa71","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["3ae1e2e9.4e65b6"]]},{"id":"c6bac275.95ab5","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":80,"wires":[["571bbb93.95428c"]]},{"id":"da53f566.9988e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":120,"wires":[["99f18ced.b3fd28"]]},{"id":"9c6a893f.92ea88","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":160,"wires":[["a92d1f5.a7aa46"]]},{"id":"50ec6da1.5016c4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":200,"wires":[["e0c233a.a99915"]]},{"id":"d6394d2e.b285","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":240,"wires":[["1afff317.419ead"]]},{"id":"571bbb93.95428c","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":80,"wires":[]},{"id":"99f18ced.b3fd28","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":120,"wires":[]},{"id":"a92d1f5.a7aa46","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":160,"wires":[]},{"id":"e0c233a.a99915","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":200,"wires":[]},{"id":"1afff317.419ead","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"aa916dcf.8f4de8","type":"debug","z":"a9a45a38.f154e","name":"jwt out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1120,"wires":[]},{"id":"1b5a1477.cbaf04","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":80,"wires":[["c6bac275.95ab5"]]},{"id":"95b9540d.91bd88","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":120,"wires":[["da53f566.9988e"]]},{"id":"3cc51aca.5d81de","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":160,"wires":[["9c6a893f.92ea88"]]},{"id":"1d05000b.a1aca","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":200,"wires":[["50ec6da1.5016c4"]]},{"id":"3ae1e2e9.4e65b6","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":240,"wires":[["d6394d2e.b285"]]},{"id":"216c9746.556408","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":280,"wires":[["6eaa90a2.2c41f8"]]},{"id":"7353869a.a6b9f8","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["216c9746.556408"]]},{"id":"6eaa90a2.2c41f8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":280,"wires":[["cdf81900.7e8668"]]},{"id":"cdf81900.7e8668","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":280,"wires":[]},{"id":"6363751a.02ec54","type":"link out","z":"a9a45a38.f154e","name":"","links":["d101224a.9208b","6abe3cd1.e2e1fc","3c696bb2.ebbfdc","3932c6ff.9f403a","da0386c7.95013","2040377e.bcf34","dfaa1230.9d0f48","7e64c554.7dbb94","875a2462.04367","bde15351.12466","69be1690.5c3d7","54617460.489734","52827e7d.6a27a8","e295f846.f0c188","78f878f0.4d591","72ce436f.6c08cc","a15e1ca1.c99a78","35e54f84.16399","c692f170.58e03","d23c3d8a.3a505","327c824e.f34fce","16b080b5.a15c47","8eae5e30.aa6bc8","1d79fe9e.faa369","682cda9a.4fc484","b9c49f6d.02c3f8"],"x":215,"y":1060,"wires":[]},{"id":"a4fc33f9.22c5a8","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-6-H-001","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":930,"y":80,"wires":[[]]},{"id":"8a32bf19.574ef8","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":120,"wires":[["e1dfdd0a.10acd"]]},{"id":"e1dfdd0a.10acd","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":120,"wires":[["a4fc33f9.22c5a8"]]},{"id":"c8f25a6b.efed7","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["a4fc33f9.22c5a8","8a32bf19.574ef8"]]},{"id":"6ebf03fa.ffde24","type":"function","z":"21961a16.d912f6","name":"ap6h202110000001","func":"if (msg.payload.sn == \"ap6h202110000001\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["c8f25a6b.efed7"]]},{"id":"7c16a93a.34a5c8","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":920,"y":240,"wires":[[]]},{"id":"eac7e5a.176d718","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":280,"wires":[["f4ef331a.740ab"]]},{"id":"f4ef331a.740ab","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":280,"wires":[["7c16a93a.34a5c8"]]},{"id":"b75863e5.91e6f8","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["7c16a93a.34a5c8","eac7e5a.176d718"]]},{"id":"b078b9e1.7cda98","type":"function","z":"21961a16.d912f6","name":"ap1h202110000001","func":"if (msg.payload.sn == \"ap1h202110000001\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":240,"wires":[["b75863e5.91e6f8"]]},{"id":"e58bae7a.6284f","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-002","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":300,"wires":[[]]},{"id":"474505b4.0735bc","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":340,"wires":[["a4210743.9ab968"]]},{"id":"a4210743.9ab968","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":340,"wires":[["e58bae7a.6284f"]]},{"id":"4296777c.d55b","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":300,"wires":[["e58bae7a.6284f","474505b4.0735bc"]]},{"id":"ff6a13c1.ef50f8","type":"function","z":"21961a16.d912f6","name":"ap1h202110000002","func":"if (msg.payload.sn == \"ap1h202110000002\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":300,"wires":[["4296777c.d55b"]]},{"id":"fd8906f7.829aa","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-002","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":360,"wires":[[]]},{"id":"2254100a.7178a","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":400,"wires":[["6875ffcb.bb9708"]]},{"id":"6875ffcb.bb9708","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":400,"wires":[["fd8906f7.829aa"]]},{"id":"42008ef3.21eeb","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["fd8906f7.829aa","2254100a.7178a"]]},{"id":"3efba027.d022","type":"function","z":"21961a16.d912f6","name":"ap1h202110000002","func":"if (msg.payload.sn == \"ap1h202110000002\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":360,"wires":[["42008ef3.21eeb"]]},{"id":"26d092b.34bb4ee","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-003","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":420,"wires":[[]]},{"id":"a666068a.557e4","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":460,"wires":[["3f54fb4f.18cc3c"]]},{"id":"3f54fb4f.18cc3c","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":460,"wires":[["26d092b.34bb4ee"]]},{"id":"d3bb9b32.d1679","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":420,"wires":[["26d092b.34bb4ee","a666068a.557e4"]]},{"id":"6e05a987.7b9ff8","type":"function","z":"21961a16.d912f6","name":"ap1h202110000003","func":"if (msg.payload.sn == \"ap1h202110000003\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":420,"wires":[["d3bb9b32.d1679"]]},{"id":"311497b7.14272","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-004","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":480,"wires":[[]]},{"id":"48af1d2.1374864","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":520,"wires":[["eb04872b.3824f"]]},{"id":"eb04872b.3824f","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":520,"wires":[["311497b7.14272"]]},{"id":"1e901e82.623391","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[["311497b7.14272","48af1d2.1374864"]]},{"id":"5d7d44cc.936f64","type":"function","z":"21961a16.d912f6","name":"ap1h202110000004","func":"if (msg.payload.sn == \"ap1h202110000004\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":480,"wires":[["1e901e82.623391"]]},{"id":"c12623fd.aac34","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-005","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":540,"wires":[[]]},{"id":"fabef9b7.e2e198","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":580,"wires":[["3970b10c.6c6926"]]},{"id":"3970b10c.6c6926","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":580,"wires":[["c12623fd.aac34"]]},{"id":"5c46a124.ac533","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["c12623fd.aac34","fabef9b7.e2e198"]]},{"id":"d37d2ff1.cc9798","type":"function","z":"21961a16.d912f6","name":"ap1h202110000005","func":"if (msg.payload.sn == \"ap1h202110000005\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":540,"wires":[["5c46a124.ac533"]]},{"id":"471e3bc3.cced9c","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-006","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":600,"wires":[[]]},{"id":"8b2c4780.a34dd8","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":640,"wires":[["661e7d86.79ab14"]]},{"id":"661e7d86.79ab14","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":640,"wires":[["471e3bc3.cced9c"]]},{"id":"283a0150.0d7106","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":600,"wires":[["471e3bc3.cced9c","8b2c4780.a34dd8"]]},{"id":"8dd672f7.0621b8","type":"function","z":"21961a16.d912f6","name":"ap1h202110000006","func":"if (msg.payload.sn == \"ap1h202110000006\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":600,"wires":[["283a0150.0d7106"]]},{"id":"ccde1d4b.81379","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-006","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":660,"wires":[[]]},{"id":"da301e93.dbf3f","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":700,"wires":[["f3302ddd.7ee01"]]},{"id":"f3302ddd.7ee01","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":700,"wires":[["ccde1d4b.81379"]]},{"id":"722536ff.7e0fd","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":660,"wires":[["ccde1d4b.81379","da301e93.dbf3f"]]},{"id":"72b238c1.f79f28","type":"function","z":"21961a16.d912f6","name":"ap1h202110000006","func":"if (msg.payload.sn == \"ap1h202110000006\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":660,"wires":[["722536ff.7e0fd"]]},{"id":"860ff1a9.22e07","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-007","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":720,"wires":[[]]},{"id":"b6e5342e.4ab7b8","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":760,"wires":[["650e9b2.da949e4"]]},{"id":"650e9b2.da949e4","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":760,"wires":[["860ff1a9.22e07"]]},{"id":"42d451c9.7305b","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":720,"wires":[["860ff1a9.22e07","b6e5342e.4ab7b8"]]},{"id":"e826e7cc.67e5f","type":"function","z":"21961a16.d912f6","name":"ap1h202110000007","func":"if (msg.payload.sn == \"ap1h202110000007\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":720,"wires":[["42d451c9.7305b"]]},{"id":"d0d4f7c2.778e78","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-1-H-1-008","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":940,"y":780,"wires":[[]]},{"id":"41824f45.78717","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":820,"wires":[["1491ec60.515254"]]},{"id":"1491ec60.515254","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":820,"wires":[["d0d4f7c2.778e78"]]},{"id":"34ae3d41.ef8142","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":780,"wires":[["d0d4f7c2.778e78","41824f45.78717"]]},{"id":"4e996983.1017f8","type":"function","z":"21961a16.d912f6","name":"ap1h202110000008","func":"if (msg.payload.sn == \"ap1h202110000008\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":780,"wires":[["34ae3d41.ef8142"]]},{"id":"7afcaea5.4fdfe","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-2-H-001","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":930,"y":900,"wires":[[]]},{"id":"6dff6460.bf66e4","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":940,"wires":[["c07ca6fe.bbc9f"]]},{"id":"c07ca6fe.bbc9f","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":940,"wires":[["7afcaea5.4fdfe"]]},{"id":"20ea504f.66e688","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["7afcaea5.4fdfe","6dff6460.bf66e4"]]},{"id":"e076043d.16c278","type":"function","z":"21961a16.d912f6","name":"ap2h202110000001","func":"if (msg.payload.sn == \"ap2h202110000001\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":900,"wires":[["20ea504f.66e688"]]},{"id":"57a3bc9b.8f34a4","type":"ui_switch","z":"21961a16.d912f6","name":"","label":"AP-2-H-002","tooltip":"","group":"bd1f79cf.36f5f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":930,"y":960,"wires":[[]]},{"id":"17620ee9.a1af69","type":"delay","z":"21961a16.d912f6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":1000,"wires":[["3286ccea.6cde1c"]]},{"id":"3286ccea.6cde1c","type":"trigger","z":"21961a16.d912f6","name":"","op1":"1","op2":"false","op1type":"str","op2type":"bool","duration":"120","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":1000,"wires":[["57a3bc9b.8f34a4"]]},{"id":"855a28e0.f3181","type":"change","z":"21961a16.d912f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":960,"wires":[["57a3bc9b.8f34a4","17620ee9.a1af69"]]},{"id":"d67098d6.29839","type":"function","z":"21961a16.d912f6","name":"ap2h202110000002","func":"if (msg.payload.sn == \"ap2h202110000002\") {\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":960,"wires":[["855a28e0.f3181"]]},{"id":"e295f846.f0c188","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":80,"wires":[["6ebf03fa.ffde24"]]},{"id":"78f878f0.4d591","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":240,"wires":[["b078b9e1.7cda98"]]},{"id":"72ce436f.6c08cc","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":300,"wires":[["ff6a13c1.ef50f8"]]},{"id":"a15e1ca1.c99a78","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":360,"wires":[["3efba027.d022"]]},{"id":"35e54f84.16399","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":420,"wires":[["6e05a987.7b9ff8"]]},{"id":"c692f170.58e03","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":480,"wires":[["5d7d44cc.936f64"]]},{"id":"d23c3d8a.3a505","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":540,"wires":[["d37d2ff1.cc9798"]]},{"id":"327c824e.f34fce","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":600,"wires":[["8dd672f7.0621b8"]]},{"id":"16b080b5.a15c47","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":660,"wires":[["72b238c1.f79f28"]]},{"id":"8eae5e30.aa6bc8","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":720,"wires":[["e826e7cc.67e5f"]]},{"id":"1d79fe9e.faa369","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":780,"wires":[["4e996983.1017f8"]]},{"id":"682cda9a.4fc484","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":900,"wires":[["e076043d.16c278"]]},{"id":"b9c49f6d.02c3f8","type":"link in","z":"21961a16.d912f6","name":"","links":["6363751a.02ec54","f68eb4cf.c4945"],"x":55,"y":960,"wires":[["d67098d6.29839"]]},{"id":"68a3a6f5.b20b1","type":"msg-router","z":"a9a45a38.f154e","routerType":"roundrobin","topicDependent":false,"counterReset":false,"msgKeyField":"payload","undefinedHash":false,"outputsInfo":[{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"}],"name":"","delaying":"unrelated","msgControl":false,"outputs":40,"x":730,"y":1100,"wires":[["5bf7bab8.ae0b6c"],["2e2429ea.7fdce6"],["3924937b.957ec4"],["261e749e.dcdcdc"],["a996400b.8a4498"],["498684c3.53c984"],["cdcf9f8a.9e4248"],["fcb38ce6.65dbb"],["65829213.af6d24"],["de4ac696.571f7"],["70022c21.de2cbc"],["75b5e65b.dff558"],["911c2fc3.96a3d8"],["d6afd97d.c1c55"],["228ced18.f26eca"],["4fb7fca.ea55f84"],["37ccea3a.326cce"],["bd15b9a6.b79578"],["678a20b2.197ec8"],["2de3fb75.5e148c"],["8e3b2257.c1aa78"],["c7ef4c08.66ff78"],["adf54e05.e1b5e8"],["6614260e.c94858"],["28f3bc10.7d6394"],["cb1026f3.1b3518"],["7b489d94.b49b4c"],["2ea242e3.6a35a6"],["7cada8ee.3d0bd"],["5492f1a8.e4b2c"],["8f061780.0a29e"],["55f57afa.0ceabc"],["889b58a5.587b38"],["b534cfad.5cc7a"],["7d561039.e75428"],["d817c4d7.67b19"],["838fc9b0.72fae8"],["837c04d8.1663"],["1953f00e.2d479"],["18f42e99.50fc91"]]},{"id":"5bf7bab8.ae0b6c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":400,"wires":[["b62222b2.5ca5c8"]]},{"id":"2e2429ea.7fdce6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":440,"wires":[["16be1f4b.e96559"]]},{"id":"3924937b.957ec4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":480,"wires":[["becd2a7b.62bc68"]]},{"id":"261e749e.dcdcdc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":520,"wires":[["83202562.f2033"]]},{"id":"a996400b.8a4498","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":560,"wires":[["85aef956.5d5128"]]},{"id":"b62222b2.5ca5c8","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":400,"wires":[]},{"id":"16be1f4b.e96559","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":440,"wires":[]},{"id":"becd2a7b.62bc68","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":480,"wires":[]},{"id":"83202562.f2033","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":520,"wires":[]},{"id":"85aef956.5d5128","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":560,"wires":[]},{"id":"498684c3.53c984","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":600,"wires":[["7768dd77.de204c"]]},{"id":"7768dd77.de204c","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":600,"wires":[]},{"id":"cdcf9f8a.9e4248","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":640,"wires":[["44d49532.da771c"]]},{"id":"fcb38ce6.65dbb","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":680,"wires":[["e44def73.51ba9"]]},{"id":"65829213.af6d24","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":720,"wires":[["fb8a5107.c5523"]]},{"id":"de4ac696.571f7","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":760,"wires":[["484ce669.49132"]]},{"id":"70022c21.de2cbc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":800,"wires":[["c8d4f88a.3e4788"]]},{"id":"44d49532.da771c","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":640,"wires":[]},{"id":"e44def73.51ba9","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":680,"wires":[]},{"id":"fb8a5107.c5523","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":720,"wires":[]},{"id":"484ce669.49132","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":760,"wires":[]},{"id":"c8d4f88a.3e4788","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":800,"wires":[]},{"id":"75b5e65b.dff558","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":840,"wires":[["66593757.96a208"]]},{"id":"66593757.96a208","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":840,"wires":[]},{"id":"911c2fc3.96a3d8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":880,"wires":[["3c27b6cf.603fd2"]]},{"id":"d6afd97d.c1c55","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":920,"wires":[["5fc1b694.0128e8"]]},{"id":"228ced18.f26eca","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":960,"wires":[["7c52107f.d63ee"]]},{"id":"4fb7fca.ea55f84","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1000,"wires":[["d46df4eb.f20e98"]]},{"id":"37ccea3a.326cce","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1040,"wires":[["195ac694.2a0bb9"]]},{"id":"3c27b6cf.603fd2","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":880,"wires":[]},{"id":"5fc1b694.0128e8","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":920,"wires":[]},{"id":"7c52107f.d63ee","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":960,"wires":[]},{"id":"d46df4eb.f20e98","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1000,"wires":[]},{"id":"195ac694.2a0bb9","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1040,"wires":[]},{"id":"bd15b9a6.b79578","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1080,"wires":[["d20aa6d0.4b7cd"]]},{"id":"d20aa6d0.4b7cd","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1080,"wires":[]},{"id":"678a20b2.197ec8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1120,"wires":[["e7726435.35ac"]]},{"id":"2de3fb75.5e148c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1160,"wires":[["458d200f.112a58"]]},{"id":"8e3b2257.c1aa78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1200,"wires":[["c42c9124.768c"]]},{"id":"c7ef4c08.66ff78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1240,"wires":[["75983ee6.87d418"]]},{"id":"adf54e05.e1b5e8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1280,"wires":[["451294e4.604a6c"]]},{"id":"e7726435.35ac","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1120,"wires":[]},{"id":"458d200f.112a58","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1160,"wires":[]},{"id":"c42c9124.768c","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1200,"wires":[]},{"id":"75983ee6.87d418","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1240,"wires":[]},{"id":"451294e4.604a6c","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1280,"wires":[]},{"id":"6614260e.c94858","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1320,"wires":[["75b52e35.2628a8"]]},{"id":"75b52e35.2628a8","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1320,"wires":[]},{"id":"28f3bc10.7d6394","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1360,"wires":[["d24fa479.a338d"]]},{"id":"cb1026f3.1b3518","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1400,"wires":[["d03b17dd.f3d12"]]},{"id":"7b489d94.b49b4c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1440,"wires":[["409abace.8b4134"]]},{"id":"2ea242e3.6a35a6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1480,"wires":[["801d71ff.231c68"]]},{"id":"7cada8ee.3d0bd","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1520,"wires":[["d64a84e7.848cf8"]]},{"id":"d24fa479.a338d","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1360,"wires":[]},{"id":"d03b17dd.f3d12","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1400,"wires":[]},{"id":"409abace.8b4134","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1440,"wires":[]},{"id":"801d71ff.231c68","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1480,"wires":[]},{"id":"d64a84e7.848cf8","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1520,"wires":[]},{"id":"5492f1a8.e4b2c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1560,"wires":[["fae09300.b6e57"]]},{"id":"fae09300.b6e57","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1560,"wires":[]},{"id":"8f061780.0a29e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1600,"wires":[["fd85f796.26213"]]},{"id":"55f57afa.0ceabc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1640,"wires":[["5c3db149.b0b58"]]},{"id":"889b58a5.587b38","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1680,"wires":[["4c8d4434.cb3834"]]},{"id":"b534cfad.5cc7a","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1720,"wires":[["d2dc49cd.cc5008"]]},{"id":"7d561039.e75428","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1760,"wires":[["8c7aa8e2.bd9568"]]},{"id":"fd85f796.26213","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1600,"wires":[]},{"id":"5c3db149.b0b58","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1640,"wires":[]},{"id":"4c8d4434.cb3834","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1680,"wires":[]},{"id":"d2dc49cd.cc5008","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1720,"wires":[]},{"id":"8c7aa8e2.bd9568","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1760,"wires":[]},{"id":"d817c4d7.67b19","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1800,"wires":[["d9eb502d.c62e78"]]},{"id":"d9eb502d.c62e78","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1800,"wires":[]},{"id":"838fc9b0.72fae8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1840,"wires":[["61380648.3f3b88"]]},{"id":"837c04d8.1663","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1880,"wires":[["472ec856.8c7818"]]},{"id":"1953f00e.2d479","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1920,"wires":[["30d49411.72d974"]]},{"id":"18f42e99.50fc91","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1960,"wires":[["9f47071b.555c5"]]},{"id":"61380648.3f3b88","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1840,"wires":[]},{"id":"472ec856.8c7818","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1880,"wires":[]},{"id":"30d49411.72d974","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1920,"wires":[]},{"id":"9f47071b.555c5","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1960,"wires":[]},{"id":"a09082eb.1ae95","type":"debug","z":"aedb1a6d.74c6f8","name":"off in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":720,"wires":[]},{"id":"e41d2782.62d47","type":"function","z":"aedb1a6d.74c6f8","name":"","func":"msg.payload = {\n    sn : \"ap2m202110001000\",\n    kid: \"73298aeccb91ea23940f87be0ec92f8084da35c6f411d6d0abb830f57b57f25a\",\n    body :\n            [{\n                LoggerName: \"ToF\", \n                MeasuredData: \n                [\n                    { \n                        Name: \"Stuck\",\n                        Value: 1 \n                    }\n                ], \n                ServiceData: [], \n                DebugData: [], \n                DeviceId: \"08d91255-2c6c-4607-8392-1419a0fe778f\"\n            }]\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":820,"wires":[["451b76dc.d8b258"]]},{"id":"b9b36d98.455888","type":"inject","z":"aedb1a6d.74c6f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":820,"wires":[["e41d2782.62d47"]]},{"id":"d28e79bd.81add8","type":"debug","z":"aedb1a6d.74c6f8","name":"off jwt out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":780,"wires":[]},{"id":"42f27237.f56f1c","type":"msg-router","z":"aedb1a6d.74c6f8","routerType":"roundrobin","topicDependent":false,"counterReset":false,"msgKeyField":"payload","undefinedHash":false,"outputsInfo":[{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"}],"name":"","delaying":"unrelated","msgControl":false,"outputs":40,"x":790,"y":760,"wires":[["39543740.7328e8"],["780da718.1d2a18"],["2b6fe265.8c53ee"],["6f9388e6.de6388"],["f87aa7ef.b44c78"],["9b96fb78.c91d88"],["6678b6d8.7e66e8"],["d4dc795f.608c78"],["ef71a4ad.32edd8"],["7f00cd03.41f724"],["b273d634.ee75f8"],["215d6c69.9d63e4"],["fed77b9e.e06ea8"],["1628a492.3946db"],["4349c56e.89e16c"],["7fbf3711.7fe008"],["aa8e8196.93b28"],["9d9882a8.1e015"],["45cde64a.d58548"],["cabf99b9.46d9b8"],["780665c.4e4bc9c"],["2abd11b6.48c88e"],["7ea82718.90b188"],["94b51046.9ffa"],["9b7043cd.53bb9"],["67aff24e.abc16c"],["679ad997.571468"],["8ecdc9cb.247c98"],["4cbe45cb.8a8c5c"],["3a46fa0d.981d16"],["f12e9375.2979e"],["b3ab7991.3ef238"],["736f3c4a.636e04"],["88a8fbb5.f54858"],["b3b22de0.1129c"],["86e25ffb.7a466"],["37a1368a.adeb5a"],["adeab374.6d476"],["13f67e47.aca252"],["9a866d9f.d1b9f"]]},{"id":"4e4d9f01.a7ce2","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":100,"wires":[["3b48529d.a0ef3e"]]},{"id":"586e3098.9f257","type":"link out","z":"a9a45a38.f154e","name":"offline","links":["4f2588af.3506"],"x":215,"y":1020,"wires":[]},{"id":"4f2588af.3506","type":"link in","z":"aedb1a6d.74c6f8","name":"","links":["586e3098.9f257"],"x":175,"y":760,"wires":[["a09082eb.1ae95","451b76dc.d8b258"]]},{"id":"39543740.7328e8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":100,"wires":[["4e4d9f01.a7ce2"]]},{"id":"3b48529d.a0ef3e","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":100,"wires":[]},{"id":"dea36324.68cad","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":140,"wires":[["454191c8.98cbe"]]},{"id":"780da718.1d2a18","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":140,"wires":[["dea36324.68cad"]]},{"id":"454191c8.98cbe","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":140,"wires":[]},{"id":"5c759ec3.16f7a","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":180,"wires":[["42eaa46c.9edbec"]]},{"id":"2b6fe265.8c53ee","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":180,"wires":[["5c759ec3.16f7a"]]},{"id":"42eaa46c.9edbec","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":180,"wires":[]},{"id":"a4f12ebd.1a56e","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":220,"wires":[["70779176.ba2d7"]]},{"id":"6f9388e6.de6388","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":220,"wires":[["a4f12ebd.1a56e"]]},{"id":"70779176.ba2d7","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":220,"wires":[]},{"id":"7fdb52c0.feae1c","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":260,"wires":[["2c11f558.34752a"]]},{"id":"f87aa7ef.b44c78","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":260,"wires":[["7fdb52c0.feae1c"]]},{"id":"2c11f558.34752a","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":260,"wires":[]},{"id":"bb547c0.b149288","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":300,"wires":[["fbc132d7.c9cb1"]]},{"id":"9b96fb78.c91d88","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":300,"wires":[["bb547c0.b149288"]]},{"id":"fbc132d7.c9cb1","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":300,"wires":[]},{"id":"f64bed2c.41dd3","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":340,"wires":[["d8f54091.b3b19"]]},{"id":"6678b6d8.7e66e8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":340,"wires":[["f64bed2c.41dd3"]]},{"id":"d8f54091.b3b19","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":340,"wires":[]},{"id":"a3b3b03a.d87e6","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":380,"wires":[["d860e95e.45d688"]]},{"id":"d4dc795f.608c78","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":380,"wires":[["a3b3b03a.d87e6"]]},{"id":"d860e95e.45d688","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":380,"wires":[]},{"id":"61803edb.17d12","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":420,"wires":[["6a1863ca.69658c"]]},{"id":"ef71a4ad.32edd8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":420,"wires":[["61803edb.17d12"]]},{"id":"6a1863ca.69658c","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":420,"wires":[]},{"id":"9478aa22.8de728","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":460,"wires":[["15cb3ffe.508fb"]]},{"id":"7f00cd03.41f724","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":460,"wires":[["9478aa22.8de728"]]},{"id":"15cb3ffe.508fb","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":460,"wires":[]},{"id":"2bea2887.af05c8","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":500,"wires":[["1f2bdf0e.45aed1"]]},{"id":"b273d634.ee75f8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":500,"wires":[["2bea2887.af05c8"]]},{"id":"1f2bdf0e.45aed1","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":500,"wires":[]},{"id":"a29d94f.d8e3d68","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":540,"wires":[["16b20e7c.76abc2"]]},{"id":"215d6c69.9d63e4","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":540,"wires":[["a29d94f.d8e3d68"]]},{"id":"16b20e7c.76abc2","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":540,"wires":[]},{"id":"270ace22.a464b2","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":580,"wires":[["7651395f.a36f28"]]},{"id":"fed77b9e.e06ea8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":580,"wires":[["270ace22.a464b2"]]},{"id":"7651395f.a36f28","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":580,"wires":[]},{"id":"28de0541.8729aa","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":620,"wires":[["cb6935eb.73ad48"]]},{"id":"1628a492.3946db","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":620,"wires":[["28de0541.8729aa"]]},{"id":"cb6935eb.73ad48","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":620,"wires":[]},{"id":"3ec61fc7.d0fa3","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":660,"wires":[["72a9f61e.d97ac8"]]},{"id":"4349c56e.89e16c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":660,"wires":[["3ec61fc7.d0fa3"]]},{"id":"72a9f61e.d97ac8","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":660,"wires":[]},{"id":"85697569.8d5468","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":700,"wires":[["6afcbf9.ed3a14"]]},{"id":"7fbf3711.7fe008","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":700,"wires":[["85697569.8d5468"]]},{"id":"6afcbf9.ed3a14","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":700,"wires":[]},{"id":"673e5a3c.f5f654","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":740,"wires":[["459c194.ce9fce8"]]},{"id":"aa8e8196.93b28","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":740,"wires":[["673e5a3c.f5f654"]]},{"id":"459c194.ce9fce8","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":740,"wires":[]},{"id":"ca1ce8c9.cde258","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":780,"wires":[["7086c04e.947cc"]]},{"id":"9d9882a8.1e015","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":780,"wires":[["ca1ce8c9.cde258"]]},{"id":"7086c04e.947cc","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":780,"wires":[]},{"id":"1046bffb.a0d04","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":820,"wires":[["25df4b0.aab19b6"]]},{"id":"45cde64a.d58548","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":820,"wires":[["1046bffb.a0d04"]]},{"id":"25df4b0.aab19b6","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":820,"wires":[]},{"id":"146aaaa8.e0cc65","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":860,"wires":[["280129ee.80ea26"]]},{"id":"cabf99b9.46d9b8","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":860,"wires":[["146aaaa8.e0cc65"]]},{"id":"280129ee.80ea26","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":860,"wires":[]},{"id":"6fcf0804.e74578","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":900,"wires":[["351924bb.77e45c"]]},{"id":"780665c.4e4bc9c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":900,"wires":[["6fcf0804.e74578"]]},{"id":"351924bb.77e45c","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":900,"wires":[]},{"id":"c51d8fef.448b","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":940,"wires":[["6ee3bd03.17c544"]]},{"id":"2abd11b6.48c88e","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":940,"wires":[["c51d8fef.448b"]]},{"id":"6ee3bd03.17c544","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":940,"wires":[]},{"id":"9c4c4fb0.89361","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":980,"wires":[["348e01ad.9fa2ce"]]},{"id":"7ea82718.90b188","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":980,"wires":[["9c4c4fb0.89361"]]},{"id":"348e01ad.9fa2ce","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":980,"wires":[]},{"id":"94b51046.9ffa","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1020,"wires":[["ad319b4b.d85c8"]]},{"id":"9b7043cd.53bb9","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1060,"wires":[["6e20ef7.2a0c99"]]},{"id":"67aff24e.abc16c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1100,"wires":[["ed525e0f.cd475"]]},{"id":"679ad997.571468","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1140,"wires":[["a910a053.897f38"]]},{"id":"8ecdc9cb.247c98","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1180,"wires":[["f3c24f85.9afce8"]]},{"id":"4cbe45cb.8a8c5c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1220,"wires":[["e8442b86.f7fc1"]]},{"id":"3a46fa0d.981d16","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1260,"wires":[["2078f9e4.be63ae"]]},{"id":"f12e9375.2979e","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1300,"wires":[["841eaffc.d093e"]]},{"id":"b3ab7991.3ef238","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1340,"wires":[["36540e63.61e2f2"]]},{"id":"736f3c4a.636e04","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1380,"wires":[["ba48a457.ffcc48"]]},{"id":"88a8fbb5.f54858","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1420,"wires":[["79b86676.d183c8"]]},{"id":"b3b22de0.1129c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1460,"wires":[["915347e8.0fd218"]]},{"id":"86e25ffb.7a466","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1500,"wires":[["28ad279d.108b88"]]},{"id":"37a1368a.adeb5a","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1540,"wires":[["43d45016.76f6f8"]]},{"id":"adeab374.6d476","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1580,"wires":[["2985b563.3cb60a"]]},{"id":"13f67e47.aca252","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1620,"wires":[["b23d6a6c.fea37"]]},{"id":"9a866d9f.d1b9f","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1660,"wires":[["37ec5f0c.f38cc"]]},{"id":"e300c646.dfb9a8","type":"http in","z":"aedb1a6d.74c6f8","name":"","url":"/serverName","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["c0b6fb1.3870a08"]]},{"id":"ab1f93c5.d3bc2","type":"http response","z":"aedb1a6d.74c6f8","name":"url response","statusCode":"200","headers":{},"x":510,"y":140,"wires":[]},{"id":"d999a8c.003cb58","type":"ui_text_input","z":"aedb1a6d.74c6f8","name":"","label":"Server IP:port","tooltip":"set \"offline\" server IP and port as SERVER_IP:port","group":"622453a9.53a6ac","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[["1f9f69a7.25e616"]]},{"id":"b7a62c22.89462","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"URL","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":60,"wires":[[]]},{"id":"5f47d5cb.9134cc","type":"inject","z":"aedb1a6d.74c6f8","name":"serverName endpoint test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["b985dca3.0f1c7"]]},{"id":"b985dca3.0f1c7","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"127.0.0.1:1880/serverName","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":100,"wires":[["6dace717.6f8d78"]]},{"id":"6dace717.6f8d78","type":"debug","z":"aedb1a6d.74c6f8","name":"serverName response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"c0b6fb1.3870a08","type":"function","z":"aedb1a6d.74c6f8","name":"getServerURL","func":"var url = flow.get('URL');\n\nmsg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["ab1f93c5.d3bc2"]]},{"id":"c397c653.d6f7e8","type":"ui_button","z":"aedb1a6d.74c6f8","name":"","group":"622453a9.53a6ac","order":5,"width":0,"height":0,"passthru":false,"label":"Check URL setting","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":300,"wires":[["78102542.db071c"]]},{"id":"52f2fafa.6e1644","type":"ui_text","z":"aedb1a6d.74c6f8","group":"622453a9.53a6ac","order":4,"width":0,"height":0,"name":"","label":"Server URL","format":"{{msg.payload}}","layout":"col-center","x":510,"y":300,"wires":[]},{"id":"78102542.db071c","type":"function","z":"aedb1a6d.74c6f8","name":"getServerURL","func":"var url = flow.get('URL');\n\nmsg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["52f2fafa.6e1644"]]},{"id":"ad294b27.6136a8","type":"file","z":"aedb1a6d.74c6f8","name":"save URL","filename":"/home/nicelifewaw/serverIP","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":180,"wires":[["6e58795c.f64d18"]]},{"id":"6e58795c.f64d18","type":"file in","z":"aedb1a6d.74c6f8","name":"loadURL","filename":"/home/nicelifewaw/serverIP","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":720,"y":140,"wires":[["58f3a81f.526a38"]]},{"id":"4aa84d28.0448a4","type":"inject","z":"aedb1a6d.74c6f8","name":"load on boot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["c397c653.d6f7e8","6e58795c.f64d18"]]},{"id":"ec95cc40.9a97f","type":"file in","z":"116c5f24.699831","name":"loadURL","filename":"/home/nicelifewaw/serverIP","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":80,"wires":[["f76b161a.828268"]]},{"id":"9f019b8.c168768","type":"change","z":"116c5f24.699831","name":"","rules":[{"t":"set","p":"URL","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[[]]},{"id":"74670f22.90e9b","type":"inject","z":"116c5f24.699831","name":"load in boot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["ec95cc40.9a97f"]]},{"id":"4b5268b4.cd7278","type":"change","z":"116c5f24.699831","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"URL","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"regBody","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["6a8e71e6.3b83b"]]},{"id":"d09c5323.6f9fc","type":"function","z":"aedb1a6d.74c6f8","name":"add API v","func":"var prefix = flow.get('urlPrefix');\n\nif (prefix == 1) {\n    msg.payload = 'http://' + msg.payload;\n} else {\n    msg.payload = 'https://' + msg.payload;\n}\n\nmsg.payload = msg.payload + \"/api/v1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["ad294b27.6136a8"]]},{"id":"58f3a81f.526a38","type":"function","z":"aedb1a6d.74c6f8","name":"add Event endpoint","func":"msg.payload = msg.payload + \"/Auth\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":60,"wires":[["b7a62c22.89462"]]},{"id":"d71bd4ef.ee91d8","type":"ui_dropdown","z":"aedb1a6d.74c6f8","name":"","label":"Protocol","tooltip":"","place":"Select option","group":"622453a9.53a6ac","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"HTTPS","value":0,"type":"num"},{"label":"HTTP","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":300,"y":340,"wires":[["43fd8fd1.93fd"]]},{"id":"43fd8fd1.93fd","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"urlPrefix","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[[]]},{"id":"f76b161a.828268","type":"function","z":"116c5f24.699831","name":"add Register endpoint","func":"msg.payload = msg.payload + \"/noAuth/createDevice\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":80,"wires":[["9f019b8.c168768","47c1873f.ac6378"]]},{"id":"8f07ae82.f210d","type":"ui_text_input","z":"116c5f24.699831","name":"","label":"registrationBody","tooltip":"","group":"79749064.dbf74","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":140,"y":160,"wires":[["6a12a3ae.b2538c"]]},{"id":"63d7638c.17385c","type":"ui_button","z":"116c5f24.699831","name":"","group":"79749064.dbf74","order":2,"width":0,"height":0,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":220,"wires":[["5aac823c.ab3c5c","ec95cc40.9a97f"]]},{"id":"3c0656cd.8a1f4a","type":"debug","z":"116c5f24.699831","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"627cfaba.50c8c4","type":"http request","z":"116c5f24.699831","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":770,"y":220,"wires":[["3c0656cd.8a1f4a","b08275de.00cb58","a71a880.c23ce78","2c2dc339.12869c"]]},{"id":"2f231b72.324204","type":"ui_text","z":"116c5f24.699831","group":"79749064.dbf74","order":4,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":260,"wires":[]},{"id":"b08275de.00cb58","type":"function","z":"116c5f24.699831","name":"check status","func":"if (msg.statusCode == 200) {\n    msg.payload = \"OK\";\n} else {\n    msg.payload = \"ERROR: \" + msg.statusCode;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":260,"wires":[["2f231b72.324204"]]},{"id":"47c1873f.ac6378","type":"debug","z":"116c5f24.699831","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"6a12a3ae.b2538c","type":"change","z":"116c5f24.699831","name":"","rules":[{"t":"set","p":"regBody","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[[]]},{"id":"5aac823c.ab3c5c","type":"delay","z":"116c5f24.699831","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":220,"wires":[["4b5268b4.cd7278"]]},{"id":"451b76dc.d8b258","type":"function","z":"aedb1a6d.74c6f8","name":"jwt","func":"var jwt =  global.get('jsonwebtoken');\nvar fs = global.get('fs');\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar sn = msg.payload.sn;\nvar dirSuffix = '/private.pem';\nvar idSuffix = '/offlineId';\n\nvar devId = fs.readFileSync(dirPrefix + sn + idSuffix);\n\nvar array= [];\narray = msg.payload.body;\n\nfor (var i = 0; i < msg.payload.plen; i++) {\n    msg.payload.body[i].DeviceId = devId;\n    if (msg.payload.includeTS == 1) {\n        msg.payload.body[i].Timestamp = parseInt(Date.now() / 1000);\n    }\n}\n\nvar kid = msg.payload.kid;\n\nmsg.payload = msg.payload.body;\n\nvar input = { sub: sn };\nvar privateKey = fs.readFileSync(dirPrefix + sn + dirSuffix);\nvar token = jwt.sign(input, privateKey, { algorithm: 'ES256', keyid: kid, expiresIn: 300});\n    \nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token;    \n\nif (msg.payload.includeTS == 1) {\n    msg.headers['Content-Type'] = 'application/json';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":760,"wires":[["d28e79bd.81add8","42f27237.f56f1c"]]},{"id":"c272b0.94f60d5","type":"inject","z":"aedb1a6d.74c6f8","name":"Protocol init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":150,"y":340,"wires":[["d71bd4ef.ee91d8"]]},{"id":"389e9bea.5b2de4","type":"debug","z":"aedb1a6d.74c6f8","name":"serverName response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":260,"wires":[]},{"id":"ebca9986.4ce618","type":"function","z":"116c5f24.699831","name":"save offlineRegKey","func":"var sn = msg.payload.deviceRegistration.SerialNumber;\nvar regKey = msg.payload.registrationKey;\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar regKeySuffix = '/' + sn + '.txt';\n\nmsg.payload = '\\n\\nofflineRegKey:\\n' + regKey;\nmsg.filename = dirPrefix + sn + regKeySuffix;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":140,"wires":[["2373c56d.5ce58a"]]},{"id":"2373c56d.5ce58a","type":"file","z":"116c5f24.699831","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1290,"y":140,"wires":[[]]},{"id":"6a8e71e6.3b83b","type":"function","z":"116c5f24.699831","name":"set Headers","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":220,"wires":[["627cfaba.50c8c4"]]},{"id":"5231c970.ab1788","type":"function","z":"116c5f24.699831","name":"save offlineId","func":"var sn = msg.payload.deviceRegistration.SerialNumber;\nvar devId = msg.payload.deviceId;\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar idSuffix = '/offlineId';\n\nmsg.payload = devId;\nmsg.filename = dirPrefix + sn + idSuffix;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":180,"wires":[["84d266a1.758b28"]]},{"id":"84d266a1.758b28","type":"file","z":"116c5f24.699831","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1250,"y":180,"wires":[[]]},{"id":"a71a880.c23ce78","type":"json","z":"116c5f24.699831","name":"","property":"payload","action":"","pretty":false,"x":970,"y":140,"wires":[["ebca9986.4ce618"]]},{"id":"2c2dc339.12869c","type":"json","z":"116c5f24.699831","name":"","property":"payload","action":"","pretty":false,"x":970,"y":180,"wires":[["5231c970.ab1788"]]},{"id":"1f9f69a7.25e616","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"URL","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[[]]},{"id":"306f0086.42db4","type":"ui_button","z":"aedb1a6d.74c6f8","name":"","group":"622453a9.53a6ac","order":3,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":110,"y":180,"wires":[["2a890317.ba937c"]]},{"id":"2a890317.ba937c","type":"change","z":"aedb1a6d.74c6f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"URL","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":180,"wires":[["d09c5323.6f9fc"]]},{"id":"ad319b4b.d85c8","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1020,"wires":[["4c2cd698.d2233"]]},{"id":"4c2cd698.d2233","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1020,"wires":[]},{"id":"6e20ef7.2a0c99","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1060,"wires":[["7007541e.c96adc"]]},{"id":"7007541e.c96adc","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1060,"wires":[]},{"id":"ed525e0f.cd475","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1100,"wires":[["8e4e7b70.55ceb"]]},{"id":"8e4e7b70.55ceb","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1100,"wires":[]},{"id":"a910a053.897f38","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1140,"wires":[["5223aafd.b29b34"]]},{"id":"5223aafd.b29b34","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1140,"wires":[]},{"id":"f3c24f85.9afce8","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1180,"wires":[["1c68028f.64650d"]]},{"id":"1c68028f.64650d","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1180,"wires":[]},{"id":"e8442b86.f7fc1","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1220,"wires":[["3559dcf6.6f1524"]]},{"id":"3559dcf6.6f1524","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1220,"wires":[]},{"id":"2078f9e4.be63ae","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1260,"wires":[["748cb772.94da98"]]},{"id":"748cb772.94da98","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1260,"wires":[]},{"id":"841eaffc.d093e","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1300,"wires":[["67ee2a3d.a285c4"]]},{"id":"67ee2a3d.a285c4","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1300,"wires":[]},{"id":"36540e63.61e2f2","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1340,"wires":[["e17c16f2.87493"]]},{"id":"e17c16f2.87493","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1340,"wires":[]},{"id":"ba48a457.ffcc48","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1380,"wires":[["5f66da51.23af84"]]},{"id":"5f66da51.23af84","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1380,"wires":[]},{"id":"79b86676.d183c8","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1420,"wires":[["c19d521d.77384"]]},{"id":"c19d521d.77384","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1420,"wires":[]},{"id":"915347e8.0fd218","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1460,"wires":[["e44ef0ee.3cfd38"]]},{"id":"e44ef0ee.3cfd38","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1460,"wires":[]},{"id":"28ad279d.108b88","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1500,"wires":[["1c9f005d.f13ee"]]},{"id":"1c9f005d.f13ee","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1500,"wires":[]},{"id":"43d45016.76f6f8","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1540,"wires":[["7a44e2fa.34b2f4"]]},{"id":"7a44e2fa.34b2f4","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1540,"wires":[]},{"id":"2985b563.3cb60a","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1580,"wires":[["2f8d8b39.3dce1c"]]},{"id":"2f8d8b39.3dce1c","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1580,"wires":[]},{"id":"b23d6a6c.fea37","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1620,"wires":[["df87edff.033e1"]]},{"id":"df87edff.033e1","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1620,"wires":[]},{"id":"37ec5f0c.f38cc","type":"http request","z":"aedb1a6d.74c6f8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1370,"y":1660,"wires":[["58332dda.581a3c"]]},{"id":"58332dda.581a3c","type":"debug","z":"aedb1a6d.74c6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":1660,"wires":[]},{"id":"4a7056e4.8cb4b8","type":"http request","z":"21961a16.d912f6","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://192.168.2.6:51414/api/v1/Auth","tls":"e70ee8fd.5aa248","persist":false,"proxy":"","authType":"","x":1190,"y":1160,"wires":[["c1878293.ecb37"]]},{"id":"c1878293.ecb37","type":"debug","z":"21961a16.d912f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":1160,"wires":[]},{"id":"1e80b1f9.9578a6","type":"function","z":"21961a16.d912f6","name":"","func":"msg.payload = {\n    sn : \"ap2m202110001000\",\n    kid: \"73298aeccb91ea23940f87be0ec92f8084da35c6f411d6d0abb830f57b57f25a\",\n    body :\n            [{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"movement\",\n                        Value: 0 \n                    }\n                ], \n                ServiceData: [], \n                DebugData: [], \n                DeviceId: \"08d91255-2c6c-4607-8392-1419a0fe778f\"\n            }]\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1160,"wires":[["929deeeb.02e1f8"]]},{"id":"b112ba6e.c2efe8","type":"inject","z":"21961a16.d912f6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":1160,"wires":[["1e80b1f9.9578a6"]]},{"id":"929deeeb.02e1f8","type":"function","z":"21961a16.d912f6","name":"jwt","func":"var jwt =  global.get('jsonwebtoken');\nvar fs = global.get('fs');\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar sn = msg.payload.sn;\nvar dirSuffix = '/private.pem';\nvar idSuffix = '/offlineId';\n\nvar devId = fs.readFileSync(dirPrefix + sn + idSuffix);\n\nvar array= [];\narray = msg.payload.body;\n\nfor (var i = 0; i < msg.payload.plen; i++) {\n    msg.payload.body[i].DeviceId = devId;\n    if (msg.payload.includeTS == 1) {\n        msg.payload.body[i].Timestamp = parseInt(Date.now() / 1000);\n    }\n}\n\nvar kid = msg.payload.kid;\n\nmsg.payload = msg.payload.body;\n\nvar input = { sub: sn };\nvar privateKey = fs.readFileSync(dirPrefix + sn + dirSuffix);\nvar token = jwt.sign(input, privateKey, { algorithm: 'ES256', keyid: kid, expiresIn: 300});\n    \nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token;    \n\nif (msg.payload.includeTS == 1) {\n    msg.headers['Content-Type'] = 'application/json';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1160,"wires":[["4a7056e4.8cb4b8"]]}]