flows/niceBridge1_6.json
[{"id":"a9a45a38.f154e","type":"tab","label":"online","disabled":false,"info":""},{"id":"629312a8.bf1ca4","type":"debug","z":"a9a45a38.f154e","name":"in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1120,"wires":[]},{"id":"96dac83c.579088","type":"function","z":"a9a45a38.f154e","name":"","func":"msg.payload = {\n    sn : \"ap2m202110001000\",\n    kid: \"73298aeccb91ea23940f87be0ec92f8084da35c6f411d6d0abb830f57b57f25a\",\n    body :\n            [{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"Motion\",\n                        Value: 0 \n                    }\n                ], \n                ServiceData: [], \n                DebugData: []\n            }],\n    devId: \"08d91255-2c6c-4607-8392-1419a0fe778f\",\n    includeTS: 1,\n    plen: 1\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1160,"wires":[["f814f51a.c8c61"]]},{"id":"70c011f5.0f92c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1160,"wires":[["96dac83c.579088"]]},{"id":"f814f51a.c8c61","type":"function","z":"a9a45a38.f154e","name":"jwt","func":"var jwt =  global.get('jsonwebtoken');\nvar fs = global.get('fs');\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar sn = msg.payload.sn;\nvar dirSuffix = '/private.pem';\n\nvar array= [];\narray = msg.payload.body;\n\nfor (var i = 0; i < msg.payload.plen; i++) {\n    msg.payload.body[i].DeviceId = msg.payload.devId;\n    if (msg.payload.includeTS == 1) {\n        msg.payload.body[i].Timestamp = parseInt(Date.now() / 1000);\n    }\n}\n\nvar kid = msg.payload.kid;\n\nmsg.payload = msg.payload.body;\n\nvar input = { sub: sn };\nvar privateKey = fs.readFileSync(dirPrefix + sn + dirSuffix);\nvar token = jwt.sign(input, privateKey, { algorithm: 'ES256', keyid: kid, expiresIn: 300});\n    \nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token;    \n\nif (msg.payload.includeTS == 1) {\n    msg.headers['Content-Type'] = 'application/json';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1100,"wires":[["aa916dcf.8f4de8","a3427564.20dd1"]]},{"id":"8a90597f.defd08","type":"http in","z":"a9a45a38.f154e","name":"in","url":"/niceBridge","method":"post","upload":true,"swaggerDoc":"","x":90,"y":1100,"wires":[["23dd2e7a.2c4daa","629312a8.bf1ca4","f814f51a.c8c61","6363751a.02ec54","586e3098.9f257"]]},{"id":"23dd2e7a.2c4daa","type":"http response","z":"a9a45a38.f154e","name":"","statusCode":"200","headers":{},"x":400,"y":1060,"wires":[]},{"id":"d912c0bc.4d182","type":"function","z":"a9a45a38.f154e","name":"sort","func":"var count = flow.get('count');\n\nif (count == 0) {\n    return [msg, 0, 0, 0, 0, 0]\n} else if (count == 1) {\n    return [0, msg, 0, 0, 0, 0]    \n} else if (count == 2) {\n    return [0, 0, msg, 0, 0, 0]    \n} else if (count == 3) {\n    return [0, 0, 0, msg, 0, 0]   \n}else if (count == 4) {\n    return [0, 0, 0, 0, msg, 0];\n}else if (count == 5) {\n    return [0, 0, 0, 0, 0, msg];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":850,"y":180,"wires":[["89ec28a2.c83b08"],["a35892be.ab9638"],["877601f5.964d9"],["841e0337.e352f"],["f8cb2e29.fa71"],["7353869a.a6b9f8"]]},{"id":"f78d118a.2d47","type":"function","z":"a9a45a38.f154e","name":"counter","func":"var count = flow.get('count');\n\ncount = count + 1;\n\nif (count == 6){\n    count = 0;\n}\n\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["4007152f.f6f224"]]},{"id":"476e64.0738899c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":690,"y":100,"wires":[["4007152f.f6f224"]]},{"id":"4007152f.f6f224","type":"change","z":"a9a45a38.f154e","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[[]]},{"id":"89ec28a2.c83b08","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":80,"wires":[["1b5a1477.cbaf04"]]},{"id":"a35892be.ab9638","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":120,"wires":[["95b9540d.91bd88"]]},{"id":"877601f5.964d9","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":160,"wires":[["3cc51aca.5d81de"]]},{"id":"841e0337.e352f","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":200,"wires":[["1d05000b.a1aca"]]},{"id":"f8cb2e29.fa71","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["3ae1e2e9.4e65b6"]]},{"id":"c6bac275.95ab5","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":80,"wires":[["571bbb93.95428c"]]},{"id":"da53f566.9988e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":120,"wires":[["99f18ced.b3fd28"]]},{"id":"9c6a893f.92ea88","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":160,"wires":[["a92d1f5.a7aa46"]]},{"id":"50ec6da1.5016c4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":200,"wires":[["e0c233a.a99915"]]},{"id":"d6394d2e.b285","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":240,"wires":[["1afff317.419ead"]]},{"id":"571bbb93.95428c","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":80,"wires":[]},{"id":"99f18ced.b3fd28","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":120,"wires":[]},{"id":"a92d1f5.a7aa46","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":160,"wires":[]},{"id":"e0c233a.a99915","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":200,"wires":[]},{"id":"1afff317.419ead","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"aa916dcf.8f4de8","type":"debug","z":"a9a45a38.f154e","name":"jwt out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1160,"wires":[]},{"id":"1b5a1477.cbaf04","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":80,"wires":[["c6bac275.95ab5"]]},{"id":"95b9540d.91bd88","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":120,"wires":[["da53f566.9988e"]]},{"id":"3cc51aca.5d81de","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":160,"wires":[["9c6a893f.92ea88"]]},{"id":"1d05000b.a1aca","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":200,"wires":[["50ec6da1.5016c4"]]},{"id":"3ae1e2e9.4e65b6","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":240,"wires":[["d6394d2e.b285"]]},{"id":"216c9746.556408","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":280,"wires":[["6eaa90a2.2c41f8"]]},{"id":"7353869a.a6b9f8","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["216c9746.556408"]]},{"id":"6eaa90a2.2c41f8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":280,"wires":[["cdf81900.7e8668"]]},{"id":"cdf81900.7e8668","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":280,"wires":[]},{"id":"6363751a.02ec54","type":"link out","z":"a9a45a38.f154e","name":"","links":["d101224a.9208b","6abe3cd1.e2e1fc","3c696bb2.ebbfdc","3932c6ff.9f403a","da0386c7.95013","2040377e.bcf34","dfaa1230.9d0f48","7e64c554.7dbb94","875a2462.04367","bde15351.12466","69be1690.5c3d7","54617460.489734","52827e7d.6a27a8","e295f846.f0c188","78f878f0.4d591","72ce436f.6c08cc","a15e1ca1.c99a78","35e54f84.16399","c692f170.58e03","d23c3d8a.3a505","327c824e.f34fce","16b080b5.a15c47","8eae5e30.aa6bc8","1d79fe9e.faa369","682cda9a.4fc484","b9c49f6d.02c3f8"],"x":215,"y":1060,"wires":[]},{"id":"68a3a6f5.b20b1","type":"msg-router","z":"a9a45a38.f154e","routerType":"roundrobin","topicDependent":false,"counterReset":false,"msgKeyField":"payload","undefinedHash":false,"outputsInfo":[{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"}],"name":"","delaying":"unrelated","msgControl":false,"outputs":40,"x":730,"y":1100,"wires":[["5bf7bab8.ae0b6c"],["2e2429ea.7fdce6"],["3924937b.957ec4"],["261e749e.dcdcdc"],["a996400b.8a4498"],["498684c3.53c984"],["cdcf9f8a.9e4248"],["fcb38ce6.65dbb"],["65829213.af6d24"],["de4ac696.571f7"],["70022c21.de2cbc"],["75b5e65b.dff558"],["911c2fc3.96a3d8"],["d6afd97d.c1c55"],["228ced18.f26eca"],["4fb7fca.ea55f84"],["37ccea3a.326cce"],["bd15b9a6.b79578"],["678a20b2.197ec8"],["2de3fb75.5e148c"],["8e3b2257.c1aa78"],["c7ef4c08.66ff78"],["adf54e05.e1b5e8"],["6614260e.c94858"],["28f3bc10.7d6394"],["cb1026f3.1b3518"],["7b489d94.b49b4c"],["2ea242e3.6a35a6"],["7cada8ee.3d0bd"],["5492f1a8.e4b2c"],["8f061780.0a29e"],["55f57afa.0ceabc"],["889b58a5.587b38"],["b534cfad.5cc7a"],["7d561039.e75428"],["d817c4d7.67b19"],["838fc9b0.72fae8"],["837c04d8.1663"],["1953f00e.2d479"],["18f42e99.50fc91"]]},{"id":"5bf7bab8.ae0b6c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":400,"wires":[["47f9792.56de988"]]},{"id":"2e2429ea.7fdce6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":440,"wires":[["db88d5d9.fe58d"]]},{"id":"3924937b.957ec4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":480,"wires":[["63150822.9d2ad"]]},{"id":"261e749e.dcdcdc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":520,"wires":[["e787bc52.aaa208"]]},{"id":"a996400b.8a4498","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":560,"wires":[["cbef269a.d2c9b8"]]},{"id":"498684c3.53c984","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":600,"wires":[["1e0a6a49.63eb8e"]]},{"id":"cdcf9f8a.9e4248","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":640,"wires":[["fb63f08c.e41918"]]},{"id":"fcb38ce6.65dbb","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":680,"wires":[["b492520f.b4d35"]]},{"id":"65829213.af6d24","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":720,"wires":[["b86afa.c5af3d08"]]},{"id":"de4ac696.571f7","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":760,"wires":[["41b43479.9bebdc"]]},{"id":"70022c21.de2cbc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":800,"wires":[["c02b9a45.41b528"]]},{"id":"75b5e65b.dff558","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":840,"wires":[["bfe33b25.4db8d8"]]},{"id":"911c2fc3.96a3d8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":880,"wires":[["5ea4924b.3ba184"]]},{"id":"d6afd97d.c1c55","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":920,"wires":[["f740fe4.da916"]]},{"id":"228ced18.f26eca","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":960,"wires":[["cb2c1d50.1a3a7"]]},{"id":"4fb7fca.ea55f84","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1000,"wires":[["ab405042.138c1"]]},{"id":"37ccea3a.326cce","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1040,"wires":[["88471041.7bbd4"]]},{"id":"bd15b9a6.b79578","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1080,"wires":[["7da01d9.dbdd8e4"]]},{"id":"678a20b2.197ec8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1120,"wires":[["9eeaf887.917f28"]]},{"id":"2de3fb75.5e148c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1160,"wires":[["6d4e9482.562d3c"]]},{"id":"8e3b2257.c1aa78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1200,"wires":[["e7465170.ccc16"]]},{"id":"c7ef4c08.66ff78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1240,"wires":[["360e070f.273238"]]},{"id":"adf54e05.e1b5e8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1280,"wires":[["17c3662c.b9dd5a"]]},{"id":"6614260e.c94858","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1320,"wires":[["6dbf2816.62db78"]]},{"id":"28f3bc10.7d6394","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1360,"wires":[["412df11c.2233d"]]},{"id":"cb1026f3.1b3518","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1400,"wires":[["bfb9f9b4.0631c8"]]},{"id":"7b489d94.b49b4c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1440,"wires":[["ed447524.769b5"]]},{"id":"2ea242e3.6a35a6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1480,"wires":[["58fd4df4.89a26c"]]},{"id":"7cada8ee.3d0bd","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1520,"wires":[["f77d9dab.f95be"]]},{"id":"5492f1a8.e4b2c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1560,"wires":[["94693643.c93de"]]},{"id":"8f061780.0a29e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1600,"wires":[["748e1266.bf26cc"]]},{"id":"55f57afa.0ceabc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1640,"wires":[["c1364653.5e3f9"]]},{"id":"889b58a5.587b38","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1680,"wires":[["a1a2a2ff.a0ea8"]]},{"id":"b534cfad.5cc7a","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1720,"wires":[["88aa952b.7792d"]]},{"id":"7d561039.e75428","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1760,"wires":[["665091fc.6fc9e8"]]},{"id":"d817c4d7.67b19","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1800,"wires":[["840ca690.60bde8"]]},{"id":"838fc9b0.72fae8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1840,"wires":[["1dd12f5d.4e5141"]]},{"id":"837c04d8.1663","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1880,"wires":[["5314cdfd.5767d4"]]},{"id":"1953f00e.2d479","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1920,"wires":[["e115a9a8.3543c8"]]},{"id":"18f42e99.50fc91","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1960,"wires":[["500f654d.ca531c"]]},{"id":"586e3098.9f257","type":"link out","z":"a9a45a38.f154e","name":"offline","links":["b9671384.16b528","4f2588af.3506"],"x":215,"y":1020,"wires":[]},{"id":"47f9792.56de988","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":400,"wires":[]},{"id":"77d736e6.493db8","type":"link in","z":"a9a45a38.f154e","name":"online out","links":["47f9792.56de988","db88d5d9.fe58d","63150822.9d2ad","e787bc52.aaa208","cbef269a.d2c9b8","1e0a6a49.63eb8e","fb63f08c.e41918","b492520f.b4d35","b86afa.c5af3d08","41b43479.9bebdc","c02b9a45.41b528","bfe33b25.4db8d8","5ea4924b.3ba184","f740fe4.da916","cb2c1d50.1a3a7","ab405042.138c1","88471041.7bbd4","7da01d9.dbdd8e4","9eeaf887.917f28","6d4e9482.562d3c","e7465170.ccc16","360e070f.273238","17c3662c.b9dd5a","6dbf2816.62db78","412df11c.2233d","bfb9f9b4.0631c8","ed447524.769b5","58fd4df4.89a26c","f77d9dab.f95be","94693643.c93de","748e1266.bf26cc","c1364653.5e3f9","a1a2a2ff.a0ea8","88aa952b.7792d","665091fc.6fc9e8","840ca690.60bde8","1dd12f5d.4e5141","5314cdfd.5767d4","e115a9a8.3543c8","500f654d.ca531c","7c2feede.795178","d006824.d2ccb8","8c0e77fc.e72668","9c1b436f.3389a8","2339f63a.4cddca","26d47130.4240a6","e8fba17f.098448","e35c03fe.4aeb7","36a2d283.3c652e","57c7ec6e.28a19c","5fd13fe5.0f5d2","7033c4e2.3b1dcc","46ddc8f.8374138","26f02385.663c44","e947a280.4aae1","81acf2c5.f6845","85899700.a4ec98","f08c137a.963d38","eb910081.76c2b8","4850e20f.42f4dc","9cda4617.44fdb","5c5c0808.32af78","ceb0a5c1.ee914","74812357.96c3ec","c6cd85fd.240cb","fa5831f2.7741d","ce613ef0.379e1","d569bb51.489508","82809b95.9e6c1","605e3b7.fb865c4","af9e4706.9b3e","4e770a2d.6f5614","3a3771ff.303b2e","c171d900.b51838","85875b8a.24a2f","4289b27e.baf894","d752dd06.9a6ea","d90c5dca.07ea3","8e9785ec.5dcf6","dd5ab516.a5b7f8","46cc16c7.9140c","de57d07b.99a0e","33d614f5.bf655c","9048f70b.0d0e08","413330e.d2a525","f8d7110a.e8137"],"x":1415,"y":1100,"wires":[["ae35855f.3519d"]]},{"id":"db88d5d9.fe58d","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":440,"wires":[]},{"id":"63150822.9d2ad","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":480,"wires":[]},{"id":"e787bc52.aaa208","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":520,"wires":[]},{"id":"cbef269a.d2c9b8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":560,"wires":[]},{"id":"1e0a6a49.63eb8e","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":600,"wires":[]},{"id":"fb63f08c.e41918","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":640,"wires":[]},{"id":"b492520f.b4d35","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":680,"wires":[]},{"id":"b86afa.c5af3d08","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":720,"wires":[]},{"id":"41b43479.9bebdc","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":760,"wires":[]},{"id":"c02b9a45.41b528","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":800,"wires":[]},{"id":"bfe33b25.4db8d8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":840,"wires":[]},{"id":"5ea4924b.3ba184","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":880,"wires":[]},{"id":"f740fe4.da916","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":920,"wires":[]},{"id":"cb2c1d50.1a3a7","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":960,"wires":[]},{"id":"ab405042.138c1","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1000,"wires":[]},{"id":"88471041.7bbd4","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1040,"wires":[]},{"id":"7da01d9.dbdd8e4","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1080,"wires":[]},{"id":"9eeaf887.917f28","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1120,"wires":[]},{"id":"6d4e9482.562d3c","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1160,"wires":[]},{"id":"e7465170.ccc16","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1200,"wires":[]},{"id":"360e070f.273238","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1240,"wires":[]},{"id":"17c3662c.b9dd5a","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1280,"wires":[]},{"id":"6dbf2816.62db78","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1320,"wires":[]},{"id":"412df11c.2233d","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1360,"wires":[]},{"id":"bfb9f9b4.0631c8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1400,"wires":[]},{"id":"ed447524.769b5","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1440,"wires":[]},{"id":"58fd4df4.89a26c","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1480,"wires":[]},{"id":"f77d9dab.f95be","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1520,"wires":[]},{"id":"94693643.c93de","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1560,"wires":[]},{"id":"748e1266.bf26cc","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1600,"wires":[]},{"id":"c1364653.5e3f9","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1640,"wires":[]},{"id":"a1a2a2ff.a0ea8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1680,"wires":[]},{"id":"88aa952b.7792d","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1720,"wires":[]},{"id":"665091fc.6fc9e8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1760,"wires":[]},{"id":"840ca690.60bde8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1800,"wires":[]},{"id":"1dd12f5d.4e5141","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1840,"wires":[]},{"id":"5314cdfd.5767d4","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1880,"wires":[]},{"id":"e115a9a8.3543c8","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1920,"wires":[]},{"id":"500f654d.ca531c","type":"link out","z":"a9a45a38.f154e","name":"httpo","links":["77d736e6.493db8"],"x":1195,"y":1960,"wires":[]},{"id":"ae35855f.3519d","type":"debug","z":"a9a45a38.f154e","name":"online out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1520,"y":1100,"wires":[]},{"id":"a3427564.20dd1","type":"function","z":"a9a45a38.f154e","name":"online EN","func":"var EN = flow.get('onlineEN')|0;\n\nif (EN == 1) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1100,"wires":[["68a3a6f5.b20b1"]]},{"id":"363992a2.b3e6ee","type":"ui_switch","z":"a9a45a38.f154e","name":"","label":"Online server","tooltip":"","group":"c2841c68.a105a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-2x fa-power-off","oncolor":"#42f456","offvalue":"false","offvalueType":"bool","officon":"fa-2x fa-power-off","offcolor":"#f46241","animate":false,"x":350,"y":740,"wires":[["8cb6a429.c356"]]},{"id":"8cb6a429.c356","type":"change","z":"a9a45a38.f154e","name":"","rules":[{"t":"set","p":"onlineEN","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[[]]},{"id":"f34f615b.1bd4d","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"1","payloadType":"num","x":90,"y":780,"wires":[["8cb6a429.c356","363992a2.b3e6ee"]]},{"id":"26219b20.eccd1c","type":"link in","z":"a9a45a38.f154e","name":"","links":["57a830b.08f765"],"x":195,"y":940,"wires":[["586e3098.9f257","f814f51a.c8c61"]]},{"id":"c2841c68.a105a8","type":"ui_group","name":"Routing control","tab":"4da13170.605e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"4da13170.605e4","type":"ui_tab","name":"Server settings","icon":"dashboard","order":1,"disabled":false,"hidden":false}]