flows/niceBridge.json
[{"id":"a9a45a38.f154e","type":"tab","label":"online","disabled":false,"info":""},{"id":"629312a8.bf1ca4","type":"debug","z":"a9a45a38.f154e","name":"in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":1120,"wires":[]},{"id":"96dac83c.579088","type":"function","z":"a9a45a38.f154e","name":"","func":"msg.payload = {\n    sn : \"ap2m202110001000\",\n    kid: \"73298aeccb91ea23940f87be0ec92f8084da35c6f411d6d0abb830f57b57f25a\",\n    body :\n            [{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"movement\",\n                        Value: 0 \n                    }\n                ], \n                ServiceData: [], \n                DebugData: []\n            },{\n                LoggerName: \"PIR\", \n                //Timestamp: 1614251001, \n                MeasuredData: \n                [\n                    { \n                        Name: \"movement\",\n                        Value: 1\n                    }\n                ], \n                ServiceData: [], \n                DebugData: []\n            }],\n    devId: \"08d91255-2c6c-4607-8392-1419a0fe778f\",\n    includeTS: 1,\n    plen: 2\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":1160,"wires":[["f814f51a.c8c61"]]},{"id":"70c011f5.0f92c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1160,"wires":[["96dac83c.579088"]]},{"id":"f814f51a.c8c61","type":"function","z":"a9a45a38.f154e","name":"jwt","func":"var jwt =  global.get('jsonwebtoken');\nvar fs = global.get('fs');\n\nvar dirPrefix = '/home/nicelifewaw/devs/';\nvar sn = msg.payload.sn;\nvar dirSuffix = '/private.pem';\n\nvar array= [];\narray = msg.payload.body;\n\nfor (var i = 0; i < msg.payload.plen; i++) {\n    msg.payload.body[i].DeviceId = msg.payload.devId;\n    if (msg.payload.includeTS == 1) {\n        msg.payload.body[i].Timestamp = parseInt(Date.now() / 1000);\n    }\n}\n\nvar kid = msg.payload.kid;\n\nmsg.payload = msg.payload.body;\n\nvar input = { sub: sn };\nvar privateKey = fs.readFileSync(dirPrefix + sn + dirSuffix);\nvar token = jwt.sign(input, privateKey, { algorithm: 'ES256', keyid: kid, expiresIn: 300});\n    \nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token;    \n\nif (msg.payload.includeTS == 1) {\n    msg.headers['Content-Type'] = 'application/json';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1100,"wires":[["aa916dcf.8f4de8","68a3a6f5.b20b1"]]},{"id":"8a90597f.defd08","type":"http in","z":"a9a45a38.f154e","name":"in","url":"/niceBridge","method":"post","upload":true,"swaggerDoc":"","x":90,"y":1100,"wires":[["23dd2e7a.2c4daa","629312a8.bf1ca4","f814f51a.c8c61","6363751a.02ec54","586e3098.9f257"]]},{"id":"23dd2e7a.2c4daa","type":"http response","z":"a9a45a38.f154e","name":"","statusCode":"200","headers":{},"x":400,"y":1060,"wires":[]},{"id":"d912c0bc.4d182","type":"function","z":"a9a45a38.f154e","name":"sort","func":"var count = flow.get('count');\n\nif (count == 0) {\n    return [msg, 0, 0, 0, 0, 0]\n} else if (count == 1) {\n    return [0, msg, 0, 0, 0, 0]    \n} else if (count == 2) {\n    return [0, 0, msg, 0, 0, 0]    \n} else if (count == 3) {\n    return [0, 0, 0, msg, 0, 0]   \n}else if (count == 4) {\n    return [0, 0, 0, 0, msg, 0];\n}else if (count == 5) {\n    return [0, 0, 0, 0, 0, msg];\n}\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":850,"y":180,"wires":[["89ec28a2.c83b08"],["a35892be.ab9638"],["877601f5.964d9"],["841e0337.e352f"],["f8cb2e29.fa71"],["7353869a.a6b9f8"]]},{"id":"f78d118a.2d47","type":"function","z":"a9a45a38.f154e","name":"counter","func":"var count = flow.get('count');\n\ncount = count + 1;\n\nif (count == 6){\n    count = 0;\n}\n\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["4007152f.f6f224"]]},{"id":"476e64.0738899c","type":"inject","z":"a9a45a38.f154e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":690,"y":100,"wires":[["4007152f.f6f224"]]},{"id":"4007152f.f6f224","type":"change","z":"a9a45a38.f154e","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[[]]},{"id":"89ec28a2.c83b08","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":80,"wires":[["1b5a1477.cbaf04"]]},{"id":"a35892be.ab9638","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":120,"wires":[["95b9540d.91bd88"]]},{"id":"877601f5.964d9","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":160,"wires":[["3cc51aca.5d81de"]]},{"id":"841e0337.e352f","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":200,"wires":[["1d05000b.a1aca"]]},{"id":"f8cb2e29.fa71","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":240,"wires":[["3ae1e2e9.4e65b6"]]},{"id":"c6bac275.95ab5","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":80,"wires":[["571bbb93.95428c"]]},{"id":"da53f566.9988e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":120,"wires":[["99f18ced.b3fd28"]]},{"id":"9c6a893f.92ea88","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":160,"wires":[["a92d1f5.a7aa46"]]},{"id":"50ec6da1.5016c4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":200,"wires":[["e0c233a.a99915"]]},{"id":"d6394d2e.b285","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":240,"wires":[["1afff317.419ead"]]},{"id":"571bbb93.95428c","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":80,"wires":[]},{"id":"99f18ced.b3fd28","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":120,"wires":[]},{"id":"a92d1f5.a7aa46","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":160,"wires":[]},{"id":"e0c233a.a99915","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":200,"wires":[]},{"id":"1afff317.419ead","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":240,"wires":[]},{"id":"aa916dcf.8f4de8","type":"debug","z":"a9a45a38.f154e","name":"jwt out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1120,"wires":[]},{"id":"1b5a1477.cbaf04","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":80,"wires":[["c6bac275.95ab5"]]},{"id":"95b9540d.91bd88","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":120,"wires":[["da53f566.9988e"]]},{"id":"3cc51aca.5d81de","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":160,"wires":[["9c6a893f.92ea88"]]},{"id":"1d05000b.a1aca","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":200,"wires":[["50ec6da1.5016c4"]]},{"id":"3ae1e2e9.4e65b6","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":240,"wires":[["d6394d2e.b285"]]},{"id":"216c9746.556408","type":"delay","z":"a9a45a38.f154e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":280,"wires":[["6eaa90a2.2c41f8"]]},{"id":"7353869a.a6b9f8","type":"function","z":"a9a45a38.f154e","name":"nullDetect","func":"if (msg.payload != null) {\n return msg;   \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":280,"wires":[["216c9746.556408"]]},{"id":"6eaa90a2.2c41f8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":280,"wires":[["cdf81900.7e8668"]]},{"id":"cdf81900.7e8668","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1550,"y":280,"wires":[]},{"id":"6363751a.02ec54","type":"link out","z":"a9a45a38.f154e","name":"","links":["d101224a.9208b","6abe3cd1.e2e1fc","3c696bb2.ebbfdc","3932c6ff.9f403a","da0386c7.95013","2040377e.bcf34","dfaa1230.9d0f48","7e64c554.7dbb94","875a2462.04367","bde15351.12466","69be1690.5c3d7","54617460.489734","52827e7d.6a27a8","e295f846.f0c188","78f878f0.4d591","72ce436f.6c08cc","a15e1ca1.c99a78","35e54f84.16399","c692f170.58e03","d23c3d8a.3a505","327c824e.f34fce","16b080b5.a15c47","8eae5e30.aa6bc8","1d79fe9e.faa369","682cda9a.4fc484","b9c49f6d.02c3f8"],"x":215,"y":1060,"wires":[]},{"id":"68a3a6f5.b20b1","type":"msg-router","z":"a9a45a38.f154e","routerType":"roundrobin","topicDependent":false,"counterReset":false,"msgKeyField":"payload","undefinedHash":false,"outputsInfo":[{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"},{"active":true,"clone":false,"delay":"0","weight":"0"}],"name":"","delaying":"unrelated","msgControl":false,"outputs":40,"x":730,"y":1100,"wires":[["5bf7bab8.ae0b6c"],["2e2429ea.7fdce6"],["3924937b.957ec4"],["261e749e.dcdcdc"],["a996400b.8a4498"],["498684c3.53c984"],["cdcf9f8a.9e4248"],["fcb38ce6.65dbb"],["65829213.af6d24"],["de4ac696.571f7"],["70022c21.de2cbc"],["75b5e65b.dff558"],["911c2fc3.96a3d8"],["d6afd97d.c1c55"],["228ced18.f26eca"],["4fb7fca.ea55f84"],["37ccea3a.326cce"],["bd15b9a6.b79578"],["678a20b2.197ec8"],["2de3fb75.5e148c"],["8e3b2257.c1aa78"],["c7ef4c08.66ff78"],["adf54e05.e1b5e8"],["6614260e.c94858"],["28f3bc10.7d6394"],["cb1026f3.1b3518"],["7b489d94.b49b4c"],["2ea242e3.6a35a6"],["7cada8ee.3d0bd"],["5492f1a8.e4b2c"],["8f061780.0a29e"],["55f57afa.0ceabc"],["889b58a5.587b38"],["b534cfad.5cc7a"],["7d561039.e75428"],["d817c4d7.67b19"],["838fc9b0.72fae8"],["837c04d8.1663"],["1953f00e.2d479"],["18f42e99.50fc91"]]},{"id":"5bf7bab8.ae0b6c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":400,"wires":[["b62222b2.5ca5c8"]]},{"id":"2e2429ea.7fdce6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":440,"wires":[["16be1f4b.e96559"]]},{"id":"3924937b.957ec4","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":480,"wires":[["becd2a7b.62bc68"]]},{"id":"261e749e.dcdcdc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":520,"wires":[["83202562.f2033"]]},{"id":"a996400b.8a4498","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":560,"wires":[["85aef956.5d5128"]]},{"id":"b62222b2.5ca5c8","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":400,"wires":[]},{"id":"16be1f4b.e96559","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":440,"wires":[]},{"id":"becd2a7b.62bc68","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":480,"wires":[]},{"id":"83202562.f2033","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":520,"wires":[]},{"id":"85aef956.5d5128","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":560,"wires":[]},{"id":"498684c3.53c984","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":600,"wires":[["7768dd77.de204c"]]},{"id":"7768dd77.de204c","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":600,"wires":[]},{"id":"cdcf9f8a.9e4248","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":640,"wires":[["44d49532.da771c"]]},{"id":"fcb38ce6.65dbb","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":680,"wires":[["e44def73.51ba9"]]},{"id":"65829213.af6d24","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":720,"wires":[["fb8a5107.c5523"]]},{"id":"de4ac696.571f7","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":760,"wires":[["484ce669.49132"]]},{"id":"70022c21.de2cbc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":800,"wires":[["c8d4f88a.3e4788"]]},{"id":"44d49532.da771c","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":640,"wires":[]},{"id":"e44def73.51ba9","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":680,"wires":[]},{"id":"fb8a5107.c5523","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":720,"wires":[]},{"id":"484ce669.49132","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":760,"wires":[]},{"id":"c8d4f88a.3e4788","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":800,"wires":[]},{"id":"75b5e65b.dff558","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":840,"wires":[["66593757.96a208"]]},{"id":"66593757.96a208","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":840,"wires":[]},{"id":"911c2fc3.96a3d8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":880,"wires":[["3c27b6cf.603fd2"]]},{"id":"d6afd97d.c1c55","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":920,"wires":[["5fc1b694.0128e8"]]},{"id":"228ced18.f26eca","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":960,"wires":[["7c52107f.d63ee"]]},{"id":"4fb7fca.ea55f84","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1000,"wires":[["d46df4eb.f20e98"]]},{"id":"37ccea3a.326cce","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1040,"wires":[["195ac694.2a0bb9"]]},{"id":"3c27b6cf.603fd2","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":880,"wires":[]},{"id":"5fc1b694.0128e8","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":920,"wires":[]},{"id":"7c52107f.d63ee","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":960,"wires":[]},{"id":"d46df4eb.f20e98","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1000,"wires":[]},{"id":"195ac694.2a0bb9","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1040,"wires":[]},{"id":"bd15b9a6.b79578","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1080,"wires":[["d20aa6d0.4b7cd"]]},{"id":"d20aa6d0.4b7cd","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1080,"wires":[]},{"id":"678a20b2.197ec8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1120,"wires":[["e7726435.35ac"]]},{"id":"2de3fb75.5e148c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1160,"wires":[["458d200f.112a58"]]},{"id":"8e3b2257.c1aa78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1200,"wires":[["c42c9124.768c"]]},{"id":"c7ef4c08.66ff78","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1240,"wires":[["75983ee6.87d418"]]},{"id":"adf54e05.e1b5e8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1280,"wires":[["451294e4.604a6c"]]},{"id":"e7726435.35ac","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1120,"wires":[]},{"id":"458d200f.112a58","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1160,"wires":[]},{"id":"c42c9124.768c","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1200,"wires":[]},{"id":"75983ee6.87d418","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1240,"wires":[]},{"id":"451294e4.604a6c","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1280,"wires":[]},{"id":"6614260e.c94858","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1320,"wires":[["75b52e35.2628a8"]]},{"id":"75b52e35.2628a8","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1320,"wires":[]},{"id":"28f3bc10.7d6394","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1360,"wires":[["d24fa479.a338d"]]},{"id":"cb1026f3.1b3518","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1400,"wires":[["d03b17dd.f3d12"]]},{"id":"7b489d94.b49b4c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1440,"wires":[["409abace.8b4134"]]},{"id":"2ea242e3.6a35a6","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1480,"wires":[["801d71ff.231c68"]]},{"id":"7cada8ee.3d0bd","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1520,"wires":[["d64a84e7.848cf8"]]},{"id":"d24fa479.a338d","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1360,"wires":[]},{"id":"d03b17dd.f3d12","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1400,"wires":[]},{"id":"409abace.8b4134","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1440,"wires":[]},{"id":"801d71ff.231c68","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1480,"wires":[]},{"id":"d64a84e7.848cf8","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1520,"wires":[]},{"id":"5492f1a8.e4b2c","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1560,"wires":[["fae09300.b6e57"]]},{"id":"fae09300.b6e57","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1560,"wires":[]},{"id":"8f061780.0a29e","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1600,"wires":[["fd85f796.26213"]]},{"id":"55f57afa.0ceabc","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1640,"wires":[["5c3db149.b0b58"]]},{"id":"889b58a5.587b38","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1680,"wires":[["4c8d4434.cb3834"]]},{"id":"b534cfad.5cc7a","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1720,"wires":[["d2dc49cd.cc5008"]]},{"id":"7d561039.e75428","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1760,"wires":[["8c7aa8e2.bd9568"]]},{"id":"fd85f796.26213","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1600,"wires":[]},{"id":"5c3db149.b0b58","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1640,"wires":[]},{"id":"4c8d4434.cb3834","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1680,"wires":[]},{"id":"d2dc49cd.cc5008","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1720,"wires":[]},{"id":"8c7aa8e2.bd9568","type":"debug","z":"a9a45a38.f154e","name":"5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1760,"wires":[]},{"id":"d817c4d7.67b19","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1800,"wires":[["d9eb502d.c62e78"]]},{"id":"d9eb502d.c62e78","type":"debug","z":"a9a45a38.f154e","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1800,"wires":[]},{"id":"838fc9b0.72fae8","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1840,"wires":[["61380648.3f3b88"]]},{"id":"837c04d8.1663","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1880,"wires":[["472ec856.8c7818"]]},{"id":"1953f00e.2d479","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1920,"wires":[["30d49411.72d974"]]},{"id":"18f42e99.50fc91","type":"http request","z":"a9a45a38.f154e","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://fei.edu.r-das.sk:51414/api/v1/Auth","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1960,"wires":[["9f47071b.555c5"]]},{"id":"61380648.3f3b88","type":"debug","z":"a9a45a38.f154e","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1840,"wires":[]},{"id":"472ec856.8c7818","type":"debug","z":"a9a45a38.f154e","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1880,"wires":[]},{"id":"30d49411.72d974","type":"debug","z":"a9a45a38.f154e","name":"3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1920,"wires":[]},{"id":"9f47071b.555c5","type":"debug","z":"a9a45a38.f154e","name":"4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1960,"wires":[]},{"id":"586e3098.9f257","type":"link out","z":"a9a45a38.f154e","name":"offline","links":["4f2588af.3506"],"x":215,"y":1020,"wires":[]}]